.feedback_name {
	text-align: center;
	font-size: 46px;
}
.feedback {
	align-items: center;
	flex-direction: column;
	display: flex;
	justify-content: center;
}

.feedback_button {
	text-align: center;
	background-color: rgb(66, 66, 66);
	margin-top: 15px;
	border-radius: 12px;
	width: 250px;
	padding: 8px;
	font-size: 16px;
	border: 1px solid transparent;
	color: rgb(255, 255, 255);
	font-weight: 300;
}

.feedback_button_wrapper {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.form_group label {
	width: 500px;
	margin-top: 20px;
	display: block;
	font-size: 20px;
}
.form_group {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.form_group input {
	width: 100%;
	box-sizing: border-box;
	border: none;
	background: transparent;
	border-bottom: 1px solid rgb(204, 204, 204);
	color: rgb(0, 0, 0);
	padding: 15px 0 10px;
	outline: none;
	font-family: 'Times New Roman', Times, serif;
}
.expanding__textarea {
	resize: vertical;
	min-height: 0px;
	width: 100%;
	box-sizing: border-box;
	border: none;
	font-size: 18px;
	background: transparent;
	border-bottom: 1px solid rgb(204, 204, 204);
	color: rgb(0, 0, 0);
	outline: none;
	font-family: 'Times New Roman', Times, serif;
}
